@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background: #d4d4d3;    
    min-height: 100vh;
    font-family: 'Playfair Display', serif;}

img {
    max-width: 45%;
    border-radius: 10px;
    margin-right: 3%;
    float: left; 
}
ul{
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-column: 2;
}

.meal{
    margin-left: 7%;
    margin-right: 7%;
    /* text-align: center; */
}

.Button{
    /* float: right; */
    position: relative;
    bottom: 2%;
    margin-top: 4%;
    text-align: center;
    padding: 0.5% 2%;
    font-size: 20px;
    background: #d4d4d3;    
    border-radius: 10px;
    outline: 0;
    /* border-color: lightblue; */
    /* border: 0px; */
    /* box-shadow: 0px 2px 2px lightblue; */
    cursor: pointer;
}

h1{
    text-align: center;
    padding-bottom: 2%;
}

p{
    line-height: 1.5;
}



